html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $eweek-black;
  // background: url('../assets/backdrop.jpg') center center / cover no-repeat fixed;

  font: 1.2em Futura;
}